.lead__caption {
  font-weight: normal;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  box-sizing: border-box;    
}

@media screen and (min-width: 768px) {
  .lead__caption {
    width: 100vw;
    padding-left: 24px;
    font-size: 10px;
    line-height: 1.4;
  }
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    width: 928px;
    margin: 8px auto 0;
    padding-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .lead__caption {
    width: 984px;
  }
}

@media all and (max-width: 768px) {
  .lead__caption {
    width: 100vw;
    padding-left: 24px;
    font-size: 10px;
    line-height: 1.4;
  }
}

@media all and (max-width: 320px) {
  .lead__caption {
    width: 100vw;
    padding-left: 16px;
    font-size: 10px;
    line-height: 1.4;
  }
}