.table__text {
  display: flex;
  flex-direction: column;
}

@media (min-width: 320px) {
  .table__text {
    width: 288px;
  }
}

@media screen and (min-width: 768px) {
  .table__text {
    width: 352px;
  }
}

@media screen and (min-width: 1024px) {
  .table__text {
    width: 456px;
  }
}

@media screen and (min-width: 1280px) {
  .table__text {
    width: 484px;
  }
}

@media (max-width: 320px) {
  .table__text {
    width: 288px;
  }
}