.table__two-columns {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .table__two-columns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .table__two-columns {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}